.search-form-booking-child {
    margin-top: 5px;
    text-align: center;
}

.search-form-booking-main {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border: 2px solid;
    background-color: rgb(228, 228, 228);
}

.search-bar-form-booking {
    width: 600px;
    margin-bottom: 5px;
    margin-top: 3px;
}

.ad-form-detail-booking {
    text-align: center;
    display: block;
    margin-left: 15%;
}

.btn-edit-form-detai-booking {
    margin-left: 20%;
}

.date-admin {
    width: 250px;
}